body {
    background-color: burlywood;
}

.grid {
    width: 612px;
    height: 612px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    background-color: lightgreen;
    width: 200px;
    height: 200px;
    border: solid 2px black;
}

/** The mole that appears on the tiles **/
.mole {
    background-image: url(../assets/images/mole.webp);
    background-size: 120px 120px;
    background-repeat: no-repeat;
    background-position: center;
}