/* Whack-a-Mole Styles - Optimized */
:root {
  --mole-bg: burlywood; /* CAN DELETE & USE GENERIC */

  
  --tile-bg: lightgreen; /* KEEP for colour */
  --tile-size: 200px; /* CAN DELETE & USE GENERIC */
  --grid-size: 612px; /* CAN CHANGE is tile&border size is changed */
  --border: 2px solid #222; /* CAN CHANGE if there is generic */
}

/* CAN DELETE 
 - IN style.css = #wam-body CAN DELETE to use body style already in there*/
body {
  background: var(--mole-bg);
}

/* KEEP for sizing*/
.wam-grid {
  width: var(--grid-size);
  height: var(--grid-size);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
 /* KEEP for sizing */
.wam-tile {
  background: var(--tile-bg);
  width: var(--tile-size);
  height: var(--tile-size);
  border: var(--border);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.wam-tile:hover {
  background: #b2ffb2;
}

/* KEEP */
.mole {
  background-image: url(/assets/images/mole.webp);
  background-size: 120px 120px;
  background-repeat: no-repeat;
  background-position: center;
}

/* KEEP */
.mole:hover {
    background-image: url(/assets/images/mole.webp);
    background-size: 120px 120px;
    background-repeat: no-repeat;
    background-position: center;
}

/* KEEP for flex display on game info & buttons*/
#wam-game-info {
    display:flex;
}